.App {
  text-align: left;
}

.message-container {
  display: flex;
  border: 1px solid navy;
  height: 4rem;
  margin: 1rem;
  border-radius: 3rem;
}

.icon-container{
  display: inline-block;
}

.icon {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.App-input {
  position: fixed;
  bottom: 0;
  border-radius: 3px;
  border-color: black;
  margin-bottom: 10px;
  margin-left: 15px;
}

.input {
  width: 260px;
  border: 3px solid #333333;
  border-radius: 5px;
}

.send {
  margin-left: 15px;
  border: 3px solid #333333;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
