.App {
  text-align: left;
}

.message-container {
  display: flex;
  border: 1px solid navy;
  height: 4rem;
  margin: 1rem;
  border-radius: 3rem;
}

.icon-container{
  display: inline-block;
}

.icon {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.App-input {
  position: fixed;
  bottom: 0;
  border-radius: 3px;
  border-color: black;
  margin-bottom: 10px;
  margin-left: 15px;
}

.input {
  width: 260px;
  border: 3px solid #333333;
  border-radius: 5px;
}

.send {
  margin-left: 15px;
  border: 3px solid #333333;
}

.typing {
  width: 5rem;
  height: 3rem;
  position: relative;
  background-color: #aaa;
  border-radius: 0.5rem;
}

.typing > span {
  position: absolute;
  color: #eee;
  font-size: 2rem;
  transform: translateY(1.5rem);
}
.typing > span:nth-child(1) {
  left: 0rem;
  animation: 2.5s 0.5s infinite alternate hop;
}
.typing > span:nth-child(2) {
  left: 1rem;
  animation: 2.5s 0.8s infinite alternate hop;
}

.typing > span:nth-child(3) {
  left: 2rem;
  animation: 2.5s 1.1s infinite alternate hop;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
